body {
  font-size: max(1.5vw, 16px);
  padding: 2em;
  max-width: 50em;
  margin: 0 auto;
}

a {
  color: currentColor;
}

.merchants-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}
.merchants-list > li {
  margin: 1em 0;
  position: relative;
}
.merchants-list > li.premium::before {
  content: '★';
  position: absolute;
  left: -8px;
  top: -10px;
  color: gold;
  font-size: 2em;
  text-shadow: 0px 0px 2px black;
}
.merchants-list > li > a {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 3em;
  text-decoration: none;
  overflow: hidden;
}
.merchants-list > li img {
  height: 100%;
  border-right: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
.merchants-list hgroup {
  padding-left: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.merchants-list h2,
.merchants-list h3 {
  margin: 0;
}
.merchants-list h2 {
  font-size: 1em;
  letter-spacing: .02em;
  margin-bottom: .3em;
}
.merchants-list h3 {
  font-size: .6em;
  font-weight: normal;
  font-family: monospace;
  white-space: nowrap;
}
.merchants-list h3 span {
  padding-right: 2em;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination > li {
  border: 1px solid black;
  margin-left: -1px;
  margin-bottom: -1px;
}
.pagination > li > * {
  display: inline-block;
  padding: .5em 1em;
}
.pagination > li > span {
  /* TODO */
}

.bids {
  table-layout: fixed;
  width: 100%;
}

.sort {
  display: flex;
  align-items: center;
}
.sort-buttons {
  display: flex;
  flex-direction: column;
}
.sort-buttons button {
  border: 0;
  background: none;
  cursor: pointer;
}
.sort-buttons button:not(:hover) {
  opacity: .5;
}
